<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Courseportel</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>registration</servlet-name>
		<jsp-file>/registration.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>registration</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	<servlet>		
	    <servlet-name>com.courseportel.dataprocessclasses.RegisterFormProcessServlet</servlet-name>
		<servlet-class>com.courseportel.dataprocessclasses.RegisterFormProcessServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>com.courseportel.dataprocessclasses.RegisterFormProcessServlet</servlet-name>
	<url-pattern>/reqprocess</url-pattern>
	
	</servlet-mapping>
</web-app>